.inputContainer {
  width: 760px;
  height: 80px;
  margin: 0 auto;
  border: 4px solid #3874ff;
  box-shadow: 0 4px 15px #7995d8;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.inputContainer input {
  width: 400px;
  height: 40px;
  border: 2px solid #7191db;
  border-radius: 12px;
  box-sizing: border-box;
  padding: 10px;
  font-size: 1.5rem;
  z-index: 100;
  background-color: transparent;
  font-family: inherit;
  transition: all .15s ease-in;
}

.inputContainer input:focus {
    outline: none;
    box-shadow: 0 5px 12px #7191db;
}

.inputContainer p {
  position: absolute;
  top: 10px;
  left: 178px;
  width: 400px;
  height: 40px;
  color: gray;
  box-sizing: border-box;
  padding: 10px;
  font-size: 1.5rem;
  background-color: transparent;
  font-family: inherit;
}

@media (max-width: 1024px) {
  .inputContainer {
    width: 650px;
  }

  .inputContainer p {
    left: 123px;
  }
}

@media (max-width:768px) {
  .inputContainer {
    width: 80%;
  }

  .inputContainer input {
    width: 90%;
  }

  .inputContainer p {
    left: 5.5%;
  }
}

@media (max-width: 425px) {
  .inputContainer {
    width: 100%;
  }
}